<!-- <div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mT10">
            <div class="col-md-6 offset-md-3 text-center">
                <h1 class="text-center mT20" style="color: crimson;">Welcome To ExamPortal !!</h1>
                 </div>
        </div>
    </div>
</div> -->
<!-- <h1 class="text-center mT20" style="color: crimson;">Welcome To ExamPortal !!</h1>
<img src="../../../assets/home2.webp" alt=""> -->


<div class="container">
    <img src="../../../assets/home2.webp" alt="Snow" style="width:100%;">
    <div class="centered">Welcome To QuizPortal !!</div>
  </div>
