<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
            <mat-card>
              <div class="container text-center border-radius">
                  <img src="../../../assets/study.png" alt="">
              </div>
              <h3 class="text-center">Welcome to Reset Password !!</h3>
              <form *ngIf="!flag" (ngSubmit)="verifyUsername()">
                <mat-form-field class="full-width text-center margin" appearance="outline">
                    <mat-label>UserName</mat-label>
                    <input required [(ngModel)]="userName"  name="userName" type="text" matInput placeholder="Enter here..">
                  </mat-form-field>
                  <div class="container text-center mB10">
                    <button type="submit" mat-raised-button color="primary">Verify User</button>
                  </div>
              </form>
              <form (ngSubmit)="changePassWord()" *ngIf="flag">
                <!--old pass-->
                <mat-form-field class="full-width margin" appearance="outline">
                  <mat-label>Old Password</mat-label>
                  <input required [(ngModel)]="passObject.oldOne"  name="oldOne" type="password" matInput placeholder="Enter here..">
                </mat-form-field>
                <!--new password-->
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>New Password</mat-label>
                  <input required [(ngModel)]="passObject.newOne"  name="newOne" type="password" matInput placeholder="Enter here..">
                </mat-form-field>
                <!--new pass-->
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Re-Enter Your New Password</mat-label>
                  <input [(ngModel)]="passObject.reNewOne"  name="reNewOne" type="password" required matInput placeholder="Enter here..">
                </mat-form-field>
                <div class="container text-center mB10">
                  <button type="submit" mat-raised-button color="primary">Save</button>
                </div>
              </form>
            </mat-card>
          </div>
      </div>
    </div>
  </div>